 /* Adjust font size and padding for all form elements */
 .form-label, .form-control, select {
    font-size: 14px;
    padding: 1px;
    text-align: center;
}

/* Optionally, adjust label height */
.form-group label {
  height: 25px;
  margin: 0px;
  text-align: center;
}

/* Optionally, adjust input height */
.form-group .form-control, .form-group select {
  height: 25px;
}

.form-group{
  margin: 0px;
  margin-bottom: 4px;

}
.form-row{
  padding: 0px;
  margin-bottom: 0px;
}

.out-of-tolerance {
    background-color: red;
    color: white;
}

hr{
  margin:1px;
  
}

.form-group{
  text-align: center;
}

